input{
    margin:5px;
    border: 2px solid teal;
    border-radius: 5px;
    text-indent: 20px;
    font-weight: bold;
}
.leftList{
    width: 25%;
}
.rightList{
    width: 25%;
    
}

.btn-primary

{
    color: blue;
    background-color: burlywood;
    border-radius: 8px;
    height: 50px;
    width: 150px;
    margin-top: 20px;
    border:none;
    text-align: center;
    text-transform: capitalize;
    transition: 12s;
    margin-left: 30px;
}

.btn-primary:hover{
    color:black;
    background-color: cadetblue;
    
}
h1{
    color: coral;
   
}


label{
    color: green;   
    font-size: 20px;
    margin-left:60px;
}